.vs
.vscode

**/Logs
**/bin
**/obj
**/packages

/publish/*
!/publish/.publish

*.dbmdl
*.jfm
*.user

*.LiteDb
*.rar

/PDN.EST.VSC.BaseInfo.WebApi/logs/*
/Presentation/PDN.EST.VSC.BaseInfo.WebApi/Properties/PublishProfiles
/Presentation/PDN.EST.VSC.BaseInfo.WebApi/.config
